.new{
background-color:white;
height: auto;
width: 1340px;
justify-content: center;

display: flex;


}
.table1{

border-radius: 20px;
    padding: 10px;
margin: 10px;
    background-color: whitesmoke;
    height: auto;
    width: 500px;
border: 2px solid pink;

}

.table2{
border-radius: 20px;
border: 2px solid pink;
    padding: 10px;
margin: 10px;

background-color: whitesmoke;
height: auto ;
width: 500px;

}
