/* nav bar */
ul{

display: flex;

justify-content: right;
}
li{
margin: 2%;
list-style: none;
text-align: left;
cursor: pointer;

}
.h1{
padding: 10%;
}



/* course */
.course{
    
    text-align: center;
     margin-top: 8%;
}


.details{

display: flex;
justify-content: space-between;
padding: 2%;
margin: 2%;   
/* background-color: pink;  */
}

.details1{
    background-color: pink;
margin: 3%;
padding: 3%;
border-radius: 40px;
/* transition:  2s; */
}
.details2{
    background-color: pink;
margin: 3%;
padding: 3%;

border-radius: 40px;
/* transition:  2s; */
}
.details3{

    background-color: pink;
margin: 3%;
padding: 3%;
border-radius: 40px;
/* transition:  2s; */
}
.details1:hover{

transform: rotate(10deg);

}
.details2:hover{
    transform: rotate(10deg);


    
}
.details3:hover{

    transform: rotate(10deg);

    
}

/* facilites */

.f{

    text-align: center;
} 

/* slider  */
.slider{
height: 90vh;
    background-position:center ;
    background-size: cover;
    animation: slider 10s infinite;
}

@keyframes slider{

0%{
background-image: url(image/11_files/basketball.png);

}

25%{
    background-image: url(image/11_files/cafeteria.png);
}
50%{
    background-image: url(image/11_files/library.png);

}
75%{
background-image: url(image/3.jpg);   
}
100%{
background-image: url(image/11_files/library.png);
}

}

/* f c */
.c{
/* justify-content: space-between; */
    display: flex;
}
.f1{
    background-color: pink;
margin: 10px;
padding: 10px;
border-radius: 50px;
}
.f2{
border-radius: 50px;
    background-color: pink;
    margin: 10px;
    padding: 10px;
    }
    .f3{
        border-radius: 50px;
        background-color: pink;
        margin: 10px;
        padding: 10px;
        }
        .f1:hover{

            transform: rotate(4deg)
        }
        .f2:hover{
transform: rotate(4deg);
        }
        .f3:hover{

            transform: rotate(4deg)
        }
        /* about us */
        .about{
text-align: center;
padding: 10px;
        }